<div class="sidebar-custom">
    <div class="brand-section">
        <a class="brand-logo" href="">
            StockWise <span>🍉</span>
        </a>
        <button class="navbar-toggler-custom" @onclick="ToggleNavMenu">
            <i class="bi bi-list"></i>
        </button>
    </div>

    <div class="nav-container-custom @NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item">
                <NavLink class="nav-link-custom" href="" Match="NavLinkMatch.All">
                    <i class="bi bi-grid-1x2-fill"></i> 🍎 Estoque
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link-custom" href="clientes">
                    <i class="bi bi-people-fill"></i> 👥 Clientes
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link-custom" href="funcionarios">
                    <i class="bi bi-person-badge-fill"></i> 🛠️ Equipe
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link-custom" href="pedidos">
                    <i class="bi bi-receipt-cutoff"></i> 📝 Pedidos
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
